/* app css stylesheet */

.cursor-hand  {
    cursor: pointer;
}

.cashbox .article {
    position: relative;
    width: 120px;

    /*padding-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin-bottom: 10px;
    margin-right: 10px;
}

.cashbox .article > a {
    height: 70px;
    white-space: normal;
}

.cashbox .article .badge.disabled {
    background-color: #ccc;
}

.cashbox .article > span {
    position: absolute;
    font-size: 10pt;
}

.cashbox .article .top {
    top: -7px;
}

.cashbox .article .bottom {
    bottom: 5px;
}

.cashbox .article .left {
    left: 5px;
}
.cashbox .article .right {
    right: -7px;
}

.cashbox .available {

}
