/* app css stylesheet */

.cursor-hand  {
    cursor: pointer;
}

.cashbox .article {
    width: 120px;

    /*padding-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin-bottom: 10px;
    margin-right: 10px;
}

.cashbox .article > a {
    height: 70px;
    white-space: normal;
}

.cashbox .article .badge {
    background-color: #ccc;
}