<div class="page-header">
    <h1>Kassenabschluss und Statistiken</h1>
    <p>Basierend auf Bestellungen vom {{orderDateRange}}</p>
</div>
<div class="row">
    <div class="col-sm-4">
        <table class="table">
            <thead>
            <tr>
                <th>Kassenabschluss</th>
                <th ng-repeat="currency in availableCurrencies" class="text-right">{{currency | uppercase}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Einnahmen</td>
                <td ng-repeat="revenue in revenues" class="text-right">{{ revenue.amount | bistroCurrency }}</td>
            </tr>
            <tr>
                <td>Gutscheine</td>
                <td ng-repeat="voucher in vouchers" class="text-right">{{ voucher.amount | bistroCurrency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ein neuer Tag</div>
            <div class="panel-body">
                Ein Klick auf den folgenden Button löscht alle Bestellungen und Druckaufträge.
                Alle limitierten Zutaten stehen dann wieder voll zur Verfügung.<br/>
                <a class="btn btn-danger pull-right" role="button" ng-click="startOver()">Neu beginnen</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <table class="table">
            <thead>
            <tr>
                <th>Limitierte Zutaten</th>
                <th class="text-right">Verfügbar</th>
                <th class="text-right">Verbraucht</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="limit in balanceAndStatistics.limits">
                <td>{{limit.name}}</td>
                <td class="text-right">{{limit.total}}</td>
                <td class="text-right">{{limit.used}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <table class="table">
            <thead>
            <tr>
                <th>Artikel</th>
                <th class="text-right">Anzahl</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in balanceAndStatistics.articles">
                <td>{{article.name}}</td>
                <td class="text-right">{{article.count}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Bestellungen</th>
                <th class="text-right">{{balanceAndStatistics.orderCount}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-default" role="button" ng-click="print()">Drucken</a>
    </div>
</div>
