<table class="table" style="width: auto;">
    <thead>
    <tr>
        <th>Limit</th>
        <th colspan="4">in Kasse verf&uuml;gbar</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(limitId, limit) in availability">
        <td class="h2"><a ui-sref="limitDetail({limitId: limitId})">{{limit.name}}</a></td>
        <td class="text-right">
            <button ng-click="increase(limitId, 1)" class="btn btn-lg btn-success">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </button>
        </td>
        <td class="text-right h1">{{limit.total - limit.used}}</td>
        <td class="text-left" style="vertical-align: middle">von {{limit.total}}</td>
        <td>
            <button ng-click="increase(limitId, -1)" ng-disabled="limit.total - limit.used == 0" class="btn btn-lg btn-danger">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </td>
    </tr>

</table>
<div>

    <a class="btn btn-default" role="button" ui-sref="limitDetail">Hinzufügen</a>
</div>
