<div class="page-header">
    <h1>Bestellung {{order.no}}</h1>
</div>
<div class="row">
    <form class="form-horizontal col-sm-8" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">Kopfdaten</div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nummer</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{order.no}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Küche</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <span class="glyphicon glyphicon-ok" ng-show="order.kitchen"></span>
                            <span>{{order.kitchenNotes}}</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Total</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{order.total[order.currency] | bistroCurrency:order.currency}}<span ng-if="order.voucher"> (Gutschein)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Artikel</div>
            <div class="panel-body">
                <div class="form-group">
                    <label ng-repeat-start="item in order.items" class="col-sm-2 control-label text-right">{{item.count}}x</label>
                    <div ng-repeat-end class="col-sm-10">
                        <p class="form-control-static">{{item.article.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <a ng-if="order.name && order.open" ng-click="select()" class="btn btn-primary">Auswählen</a>
                <a ui-sref="orders" class="btn btn-default">Zurück</a>
                <a class="btn btn-default" ng-click="print('receipt')">Beleg erneut drucken</a>
                <a class="btn btn-danger" ng-click="print('kitchen')" ng-show="order.kitchen">Bestellung erneut drucken</a>
                <button class="btn btn-danger pull-right" ng-click="remove()" ng-show="order._id">L&ouml;schen</button>
            </div>
        </div>
    </form>
</div>