<div class="page-header">
    <h1>Artikel</h1>
</div>
<div class="clearfix">
    <div class="pull-left" style="margin-right: 1em; margin-bottom: 1em;" ng-repeat="tagGroup in tags">
        <div class="btn-group">
            <button type="button" class="btn" ng-class="{'btn-default': !isSelected(tag), 'btn-primary': isSelected(tag) }" ng-repeat="tag in tagGroup" ng-click="select(tag)" ng-dblclick="selectSingle(tag)">{{tag}}</button>
        </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th ng-repeat="currency in availableCurrencies" class="hidden-xs">{{currency | uppercase}}</th>
        <th>Aktiv</th>
        <th>Küche</th>
        <th>Limitierte Zutaten</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
     <tr ng-repeat="article in articles | filterByTags" ng-click="showDetail(article)" class="cursor-hand">
         <td>{{article.name}}</td>
         <td ng-repeat="currency in availableCurrencies" class="hidden-xs">{{article.price[currency] | bistroCurrency:currency}}</td>
         <td><span ng-show="article.active" class="glyphicon glyphicon-ok"></span></td>
         <td><span ng-show="article.kitchen" class="glyphicon glyphicon-ok"></span></td>
         <td><span ng-repeat="limit in article.limits">{{limit.dec}}x {{limit.limit.name}}{{$last ? '' : ', '}}</span></td>
         <td>{{article.tags.join(', ')}}</td>
     </tr>
    </tbody>
</table>

<div>

    <a class="btn btn-default" role="button" ui-sref="articleDetail">Hinzufügen</a>
</div>
